body {
    background-color: #F0F2F5;
}



.custum-file-upload {
    height: 150px;
    width: 230px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    
    background-color: rgba(255, 255, 255, 1);
    padding: 1.1rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
  }

/*   .hasfile{
    border: 2px dashed #484849;
  } */

  .nofile{
    border: 2px dashed #cacaca;
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 80px;
    fill: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
  }
  
/*   .custum-file-upload input {
    display: none;
  } */